html
{
  font-size: 16px;
}

body
{
  padding: 0;
  margin: 0;
}

h1,h2,h3,h4,h5,p
{
  padding: 0;
  margin: 0;
}

/** TOP NAV **/

.nav {
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
}

.topnav {
  background-color: rgba(0,0,0,.67);

  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.topnav .logo {
  position: relative;
  top:1rem;

  padding-left: .5rem;

  flex:3;

  display: flex;
  justify-content: flex-end;
}

.topnav .logo img
{
  border-radius: 5px;
}

.topnav > .navlinks
{
  flex:4;
  padding: 0;
  margin-left: 1rem;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-self: center;
  flex-wrap: wrap;
}

.topnav > .navlinks > li
{
  align-content: center;
  white-space: nowrap;
  justify-content: center;
  padding: 1rem;

  display: flex;
  align-content: center;
}

.navlinks > li .navlink
{
  color: #be1a3b;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  padding: 5px;
  transition: color .5s;
}

.navlinks > li .navlink:hover
{
  color: white;
}

.navlinks > li.social-container
{
  display: none;
}

/* Second layer nav */

.topnav2
{
  display: flex;
}

.topnav2 .social-margin-left
{
  float: left;
  flex-basis: 64rem;
  /*border: red 1px solid;*/
  flex-shrink: 5;
}

.topnav2 .social-links
{
  flex-basis: 15rem;
  background-color: rgba(0,0,0,.67);
  padding: .5rem;
  display: inline-flex;
}

.topnav2 > .social-container
{
  flex-basis: 20rem;
  flex-shrink: 9;
}

.social-links
{
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.social-margin-right
{
  flex-basis: 15%;
  /*border: blue 1px solid;*/
  flex-shrink: 5;
}

.social-links li
{
  margin: 0 .25rem;
}

.social-links li a i
{
  width: 1rem;
  height: 1rem;
  text-align: center;
  font-size: 1rem;
  color: #717171;
  background-color: white;
  padding: .5rem;
  border-radius: 60px;
  transition: all .5s;
}

.social-links li a i:hover
{
  color: white;
  background-color: #717171;
}



@media (max-width:1040px) {
  .topnav2 {
    display: none;
  }

  .navlinks > li.social-container
  {
    display:block;
  }

  .nav {
    background-color: black;
    position:static;
  }
}

@media (max-width:750px) {
/*
  .topnav2 {
    display: flex;
    justify-content: center;
  }

  .navlinks > li.social-links, .social-margin-left, .social-margin-right
  {
    display: none;
  }*/

  .topnav
  {
    flex-direction: column;
  }

  .topnav .logo {
    justify-content: center;
    position: static;
    padding-top: .5rem;
  }

  .topnav .navlinks
  {
    flex-direction: column;
    margin: 0;
  }

  .topnav .navlinks li
  {
    padding: .5rem;
    text-align: center;
  }

}

/***HERO***/

.hero {
background: url('../images/hero.jpg') no-repeat top center;
/*
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
*/
background-size: cover;
display:flex;
flex-direction: column;
justify-content: flex-end;
height: 527px;
}

.hero .container {
  text-align: center;
  margin-bottom: 3rem;
}

.hero .container h1 {
  font-family: 'Lucida Grande', sans-serif;
  font-size: 70px;
  color: white;
  margin-bottom: 2.25rem;
}

.hero .container .readmorelink
{
  font-weight: bold;
  text-decoration: none;
  border-radius: 3px;
  font-family: Helvitica, sans-serif;
  color: white;
  background-color: #a50f2d;
  font-size:16px;
  padding: 16px 32px;
  transition: background-color .5s;
}

.hero .container .readmorelink:hover
{
  background-color: #be1a3b;
}



/*******Video********/

.video
{
  display: flex;
  justify-content: center;
  margin: 1.5rem 0;
  flex-wrap: wrap;
}

.video > *
{
  align-self: center;
  flex-basis: 32rem;
}

.videoImage img
{
  width: 28rem;
}

.videoText
{
  /*padding-left:2rem;*/
  font-family: 'Lucida Grande', sans-serif;
}

.videoText h1
{
  font-size: 27px;
  margin: 0;
}

.videoText p
{
  font-size: 15px;
  margin: .5rem 0 0 0;
}

@media (max-width:1050px)
{
  .video
  {
    flex-direction: column;
  }

  .video > *
  {
    text-align: center;
    flex-basis: auto;
  }

  .videoText
  {
    padding: 2rem;
  }
}

@media (max-width:500px)
{
  .videoImage img
  {
    width: 90%;
  }
}

/* Hero 2 */
.hero2
{
  background: url('../images/hero2.jpg') no-repeat center center;
  background-size: cover;
  height: 300px;
}

/* Bottom */
.bottom
{
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.bottom > *
{
  flex: 0 1 16rem;
}

.news
{
  margin-top: 1rem;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  font-family: 'Lucida Grande', sans-serif;

  border-left: 1px solid #6d6c6c;
}

.newsfeatured
{
  border: none;
}

.newsimage
{
  margin-bottom: 1rem;
}

.newsimage img
{
  width: 100%;
}

.news > h1
{
  font-size: 1.25rem;
  font-weight: bold;
  color: #a50f2d;
}

.newsitem .fa {
  color: #a50f2d;
  font-size: 150%;
  margin-right: .5rem;
}

.newsitem
{
  padding: 1rem 0;
}

.newsitem > h1
{
  font-size: 1rem;
  font-weight: bold;
  color: #403d3a;
  margin-bottom: .5rem;
}

.newsitem > p
{
  font-size: .75rem;
  color: #6d6c6c;
}
